@model SiGMun.MVCPro.Models.UsuarioModel

@{
    ViewBag.Title = "Adicionar Usuário";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Adicionar Usuário</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="box box-primary" style="margin-left: auto; margin-right: 100% padding-left: 500px"  >


    </div>

    <div class="form-group has-success">
        <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label>
        <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
        @Html.TextBoxFor(model =>model.UsuNomeCompleto, new {@class="form-control"})
        <span class="help-block">Help block with success</span>
    </div>
   




}

